body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.main-container {
    width: 450px;
    height: 200px;
    background: #ddebf8;
    display: flex;
    justify-content: space-around;
    border-bottom: 6px solid #d8cefe;
    text-align: center;
    margin: 50px auto;
    color: #2b2839;
}

.container-right {
    padding: 20px 0px;
}